body
{
    /* background color and color and text alignment if there is multiple */
    background-color: rgb(166, 209, 110);

    color: rgb(255, 255, 255);
    text-align: center;
    /* apply best effects */

}